<div id="page-login">
  <div class="header">
  </div>

  <div class="form-login">
    <img src="../../../assets/images/LogoSimSave.svg" alt="Logo SimSave">

    <h1>Entrar na plataforma</h1>
    <p>Digite seu e-mail e senha abaixo
      para<br /> entrar na plataforma.</p>
    <div class="input-container">
      <input matInput placeholder="Nome">
      <input matInput placeholder="Senha" type="password">
    </div>
    <button mat-raised-button routerLink="/home">ENTRAR</button>
  </div>

</div>
